/* General */
body {
    width: 800px;
    margin: 0 auto;
}
/* Typography */
h1, h2 {
    text-align: center;
}
/* block styling */
main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
/*form styling*/
div {
    background-image: url("Images/phone_globe.jpg");
    background-position: no-repeat center;
    border: 5px solid black;
    display: flex;
}
/* styling the products display */
img {
    width: 200px;
    height: 200px;
}