/* Styles the header, body and form text*/
header{
    text-align: center;
    font-size: 50px;
    margin-bottom: 30px;
    background-color: white;
} 
body {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    background-image: url(./images/ocean.gif);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
form{
    text-align: center;
    }